* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

nav {
  height: 108px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav .logo {
  height: 73px;
  width: 73px;
  background-image: url("../images/books-stack-of-three.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 22px;
}
nav .logoTxt {
  margin-top: 62px;
}
nav input {
  margin-top: 35px;
  height: 44px;
  width: 604px;
  background-color: #587C83;
  border: 1px solid #587C83;
  opacity: 0.35;
}
nav ::placeholder {
  color: #000;
}
nav a {
  margin-top: 44px;
  text-decoration: none;
  color: #000;
}
nav .navIconAcc {
  height: 47px;
  width: 47px;
  margin-top: 41px;
  background-image: url("../images/user.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
nav .navIconCart {
  height: 47px;
  width: 47px;
  margin-top: 41px;
  background-image: url("../images/shopping-cart.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home-top {
  margin: 0 auto;
  min-height: 700px;
  width: 100%;
  margin-top: 100px;
}
.home-top .hero-img {
  margin: 0 auto;
  width: 80%;
  min-height: 400px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/home-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-top .hero-img .hero-text {
  padding-left: 700px;
  padding-top: 150px;
}
.home-top .hero-img .hero-text h1 {
  text-transform: uppercase;
  text-align: left;
  font-size: 25px;
  font-weight: bold;
  font-family: Segoe UI;
  color: #fff;
}
.home-top .hero-img .hero-text p {
  text-transform: uppercase;
  text-align: left;
  font-size: 15px;
  font-family: Segoe UI;
  color: #fff;
}
.home-top .hero-text2 {
  visibility: hidden;
}
.home-top .hero-text2 h1 {
  text-transform: uppercase;
  text-align: left;
  font-size: 25px;
  font-weight: bold;
  font-family: Segoe UI;
  color: #fff;
}
.home-top .hero-text2 p {
  text-transform: uppercase;
  text-align: left;
  font-size: 15px;
  font-family: Segoe UI;
  color: #fff;
}

.home-bottom {
  min-height: 800px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.home-bottom .bookSection {
  margin: 0 auto;
  text-align: center;
  min-height: 700px;
  width: 500px;
  padding-bottom: 200px;
}
.home-bottom .bookSection .bookImg {
  margin: 0 auto;
  text-align: center;
  height: 491px;
  margin-bottom: 30px;
}
.home-bottom .bookSection .bookInfo {
  margin: 0 auto;
  text-align: center;
  width: 280px;
}
.home-bottom .bookSection .bookInfo .bookTxt {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}
.home-bottom .bookSection .bookInfo .bookPrice {
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}
.home-bottom .bookSection .bookInfo .booksBtn {
  height: 68px;
  width: 222px;
  background-color: #fff;
}

@media screen and (max-width: 800px) {
  .home-top {
    margin: 0 auto;
    min-height: 300px;
    width: 700px;
    background-color: #587C83;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .home-top .hero-img {
    width: 400px;
    height: 400px;
    background-image: url(../images/home-hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .home-top .hero-img .hero-text {
    visibility: hidden;
  }
  .home-top .hero-text2 {
    z-index: 1;
  }
  .home-bottom {
    margin: 0 auto;
    padding-top: 100px;
    text-align: center;
    flex-direction: column;
  }
  .home-bottom .bookSection .bookInfo {
    width: 100%;
  }
}
.abtSection {
  text-align: center;
  margin-top: 180px;
  margin-bottom: 213px;
  display: flex;
  justify-content: space-evenly;
}
.abtSection .abtImg1 {
  height: 587px;
  width: 393px;
  background-image: url("../images/about-photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.abtSection .abtImg2 {
  height: 587px;
  width: 393px;
  background-image: url("../images/about-photo-two.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.abtSection .abtTxt {
  width: 1134px;
}
.abtSection .abtTxt .abtHeader {
  font-size: 32px;
  margin-top: -40px;
}
.abtSection .abtTxt .abtSubHead {
  font-size: 26px;
  margin-top: 41px;
}
.abtSection .abtTxt .abtInfo {
  text-align: left;
  margin-top: 70px;
}

.booksHeader {
  margin-top: 180px;
  font-size: 26px;
  margin-left: 77px;
}

.bookHeader {
  font-size: 26px;
  margin-left: 77px;
}

.booksRow {
  margin-top: 66px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.booksRow .bookSection {
  display: flex;
  margin-bottom: 310px;
}
.booksRow .bookSection .bookSetImg {
  width: 213px;
  height: 230px;
}
.booksRow .bookSection .bookImg {
  height: 313px;
  width: 208px;
}
.booksRow .bookSection .bookInfo {
  width: 280px;
  margin-left: 54px;
}
.booksRow .bookSection .bookInfo .bookTxt {
  margin-bottom: 58px;
}
.booksRow .bookSection .bookInfo .bookPrice {
  font-weight: bold;
  margin-bottom: 35px;
}
.booksRow .bookSection .bookInfo .booksBtn {
  height: 68px;
  width: 222px;
  background-color: #fff;
}

.blogBackgroundClr {
  background-color: #587C83;
  width: 1464px;
  height: 463px;
  margin: 0 auto;
  margin-top: 117px;
  margin-bottom: 123px;
  display: flex;
  align-items: center;
}
.blogBackgroundClr .blogImg {
  width: 250px;
  height: 380px;
  margin-left: 88px;
}
.blogBackgroundClr .blogHalfImg {
  width: 622px;
  height: 463px;
}
.blogBackgroundClr .blogInfo {
  width: 418px;
  margin-left: 197px;
  text-align: center;
  color: #fff;
}
.blogBackgroundClr .blogInfo .blogInfoHeader {
  font-size: 32px;
  margin-bottom: 60px;
}
.blogBackgroundClr .blogInfo .blogInfoTxt {
  margin-bottom: 60px;
}
.blogBackgroundClr .blogInfo .blogBtn {
  width: 222px;
  height: 68px;
  background-color: #587C83;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}
.blogBackgroundClr .blogHalfInfo {
  width: 418px;
  margin-left: 250px;
  text-align: center;
  color: #fff;
}
.blogBackgroundClr .blogHalfInfo .blogInfoHeader {
  font-size: 32px;
  margin-bottom: 60px;
}
.blogBackgroundClr .blogHalfInfo .blogInfoEReadHeader {
  font-size: 32px;
  margin-bottom: 60px;
  width: 444px;
}
.blogBackgroundClr .blogHalfInfo .blogInfoTxt {
  margin-bottom: 60px;
}
.blogBackgroundClr .blogHalfInfo .blogBtn {
  width: 222px;
  height: 68px;
  background-color: #587C83;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}

footer {
  background-color: #587C83;
  height: 92px;
  width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer .footerNav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
footer .footerNav p {
  margin-right: 40px;
}
footer .footerIcons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
footer .footerIcons .facebookIcon {
  height: 44px;
  width: 44px;
  margin-right: 40px;
  background-image: url("../images/facebook_w.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
footer .footerIcons .instaIcon {
  height: 44px;
  width: 44px;
  margin-right: 40px;
  background-image: url("../images/instagram_w.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
footer .footerIcons .twitterIcon {
  height: 44px;
  width: 44px;
  background-image: url("../images/twitter_w.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*# sourceMappingURL=styles.css.map */
