.home-top{
    margin: 0 auto;
    min-height: 700px;
    width: 100%;
   margin-top: 100px;
    .hero-img{
        margin: 0 auto;
        width: 80%;
        min-height: 400px;
        background-image:linear-gradient(rgba(88,124,131,0.5),rgba(88,124,131,0.5)) ,url(../images/home-hero.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
       
        .hero-text{
        padding-left: 700px;
        padding-top: 150px;
        h1{
            text-transform: uppercase;
            text-align: left;
            font-size: 25px;
            font-weight: bold;
            font-family: Segoe UI;
            color: #fff;
        }
        p{
            text-transform: uppercase;
            text-align: left;
            font-size: 15px;
            font-family: Segoe UI;
            color: #fff;

        }

        }

    }
    .hero-text2{
     visibility: hidden;
     h1{
        text-transform: uppercase;
        text-align: left;
        font-size: 25px;
        font-weight: bold;
        font-family: Segoe UI;
        color: #fff;
    }
    p{
        text-transform: uppercase;
        text-align: left;
        font-size: 15px;
        font-family: Segoe UI;
        color: #fff;

    }
    }

}

.home-bottom{
    min-height: 800px;
    width: 100%;
    // background-color: antiquewhite;
     display: flex;
     align-items: center; 
     justify-content: space-evenly;
    .bookSection {
        margin: 0 auto;
        text-align: center;
        min-height: 700px;
        width: 500px;
        padding-bottom: 200px;
        // background-color: aqua;
     
        .bookImg {
            margin: 0 auto;
            text-align: center;
            height: 491px;
            margin-bottom: 30px;
        }


        .bookInfo {
            margin: 0 auto;
            text-align: center;
            width: 280px;

            .bookTxt {
                margin: 0 auto;
            text-align: center;
            margin-bottom: 30px;
            }

            .bookPrice {
                margin: 0 auto;
                text-align: center;
                font-weight: bold;
                margin-bottom: 30px;
            }

            .booksBtn {
                height: 68px;
                width: 222px;
                background-color: #fff;
            }
        }
    }
}

@media screen and (max-width: 800px){

    .home-top{
        margin: 0 auto;
        min-height: 300px;
        width: 700px;
        background-color: #587C83;
       margin-top: 100px;
        
         display: flex;
         align-items: center; 
         justify-content: space-evenly;
    
        .hero-img{
            width: 400px;
            height: 400px;
            background-image: url(../images/home-hero.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            .hero-text{
                visibility: hidden;

            }
    
        }
        .hero-text2{
            
        z-index: 1;

        }
        
    
    }

    .home-bottom{
        margin: 0 auto;
        padding-top: 100px;
        
        text-align: center;
        flex-direction: column;
        .bookSection {
           
         
            .bookImg {
                
            }
    
    
            .bookInfo {
                width: 100%;
    
                .bookTxt {
            
                }
    
                .bookPrice {
                    
                }
    
                .booksBtn {
                    
                }
            }
        }
    }
}